.card {
    height: 80px;
    width: 240px;
    margin: 6px;
    border-radius: 2px;
    color: dimgrey;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.card-hover:hover {
    height: 88px;
    width: 248px;
    margin: 2px;
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}